if SHIELD_SPLIT36_LEFT
config ZMK_KEYBOARD_NAME
    default "split36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif # LEFT



if SHIELD_SPLIT36_LEFT || SHIELD_SPLIT36_RIGHT

config ZMK_SPLIT
    default y

endif # LEFT OR RIGHT
